version: "3.7"
services:

#Laravel App
  app:
    build:
      args:
        user: deimon
        uid: 1000
      context: ./
      dockerfile: Dockerfile
    image: laravel-app
    restart: always
    working_dir: /var/www/
    volumes:
      - ./:/var/www
    networks:
      - mynetwork
#Nginx Service
  nginx:
    image: nginx:1.21.4-alpine
    restart: always
    ports:
      - 8000:80
    volumes:
      - ./:/var/www
      - ./nginx/conf.d:/etc/nginx/conf.d/
    networks:
      - mynetwork
#MariaDB Service
  db:
    image: mariadb:10.7.1
    container_name: "mariadb"
    restart: always
    ports:
      - 3306:3306
    user: "1000:985"
    volumes:
      - ./database:/var/lib/mysql
    environment:
      - MARIADB_SERVERNAME=localhost
      - MARIADB_DATABASE=laravel
      - MARIADB_ROOT_PASSWORD=example
      - MARIADB_USER=example
      - MARIADB_PASSWORD=example
    networks:
      - mynetwork
#Adminer Service
  adminer:
    image: adminer:4.8.1
    profiles: ["debug"]
    container_name: "adminer"
    restart: always
    ports:
      - 8080:8080
    # environment:
      # ADMINER_DESIGN: flat # https://github.com/vrana/adminer/tree/master/designs
      # ADMINER_PLUGINS: tables-filter tinymce # https://www.adminer.org/en/plugins/
    links:
      - db:mariadb
    depends_on:
        - db
    networks:
      - mynetwork
##############################################################################
networks:
  mynetwork:
    driver: bridge
