version: '3.9'

services:
#MariaDB Service
  db:
    image: mariadb:10.7.1
    container_name: "mariadb"
    restart: always
    ports:
      - 3306:3306
    user: "1000:985"
    volumes:
      - ./database:/var/lib/mysql
    environment:
      - MARIADB_SERVERNAME=localhost
      - MARIADB_DATABASE=wordpress
      - MARIADB_ROOT_PASSWORD=example
      - MARIADB_USER=example
      - MARIADB_PASSWORD=example
    networks:
      - mynetwork
#Wordpress Service
  wordpress:
    image: wordpress:5.8.2-php7.4-apache
    container_name: "wordpress"
    restart: always
    ports:
      - 8000:80
    user: "1000:985"
    volumes:
      - ./site:/var/www/htmlvolumes
      - ./php.ini:/usr/local/etc/php/conf.d/php.ini
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_TABLE_PREFIX: wp2_
      WORDPRESS_DB_NAME: wordpress
      WORDPRESS_DB_USER: example
      WORDPRESS_DB_PASSWORD: example
    links:
      - db:mariadb
    depends_on:
        - db
    networks:
      - mynetwork
#Adminer Service
  adminer:
    image: adminer:4.8.1
    profiles: ["debug"]
    container_name: "adminer"
    restart: always
    ports:
      - 8080:8080
    # environment:
      # ADMINER_DESIGN: flat # https://github.com/vrana/adminer/tree/master/designs
      # ADMINER_PLUGINS: tables-filter tinymce # https://www.adminer.org/en/plugins/
    links:
      - db:mariadb
    depends_on:
        - db
    networks:
      - mynetwork
##############################################################################
volumes:
  database: {}
  site: {}

networks:
  mynetwork:
      name: wordpress-net
