version: '3'

services:
    db:
        image: postgres:14.0
        container_name: "postgres-django"
        user: "1000:985"
        volumes:
            - ./database:/var/lib/postgresql/data
        environment:
            POSTGRES_DB: mydb
            POSTGRES_USER: example
            POSTGRES_PASSWORD: secret
        networks:
            - network
##############################################################################
    web:
        build: .
        container_name: "django-webapp"
        command: python manage.py runserver 0.0.0.0:8000
        user: "1000:985"
        volumes:
            - ./webapp:/webapp
        ports:
            - "8000:8000"
        depends_on:
            - db
        links:
            - db
        networks:
            - network
##############################################################################
    adminer:
        image: adminer:4.8.1
        profiles: ["debug"]
        container_name: "adminer"
        restart: always
        ports:
            - 8080:8080
        # environment:
            # ADMINER_DESIGN: flat # https://github.com/vrana/adminer/tree/master/designs
            # ADMINER_PLUGINS: tables-filter tinymce # https://www.adminer.org/en/plugins/
        depends_on:
            - db
        links:
            - db
        networks:
            - network

volumes:
    database: {}
    webapp: {}

networks:
    network:
